@import url("css/clear.css");
@import url("css/font-awesome.min.css");
@import url("css/sm-clean.css");
@import url("css/owl.carousel.min.css");
@import url("css/owl.theme.default.min.css");
@import url("css/common.css");

/* ===================================
    1. Global CSS
====================================== */

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: #b3b3b3;
    background-color: #ffffff;
    overflow-x: hidden;
    
}

body a {
    text-decoration: none;
    color: #0ef;
    transition: color .3s ease;
}

body a:hover {
    color: #0ef; 
}

body p, 
body pre {
    margin-bottom: 13px;
}



#startcontainer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9990;
    
  }
#preloader img{
    position: fixed;
    top: 10%;
    left: 30%;
    width: 40%;
}

.site-wrapper img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin-left: 20px;
}

.doc-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #000;
}

.doc-loader img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;    
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-1170 {
    width: 1170px;    
}

.content-960 {
    width: 960px;    
}

.content-570 {
    width: 570px;
}

.pagination-holder {
    margin: 60px 0;
}

.section-wrapper {
    position: relative;
    padding: 200px 0 115px 0;
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 99;
  }
.scroll-to-top img {

    width: 50px;
    height: 50px;
    cursor: pointer;
}


/* ===================================
    2 Global Header Logo/Menu CSS
====================================== */

.header-holder {
    z-index: 99 ;
    background-color: #000000;
    width: 100% ;
    top: 0;
    position: fixed;
    -webkit-transform: translateZ(0);    
}



.menu-wrapper {
    width: 95%;
    max-width: 1450px;
    min-height: 77px;
}

.header-logo {
    line-height: 0;
    font-size: 0;
    float: left;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.header-logo img {
    width: 88px;
    height: 70px;
}

.menu-holder {
    float: right;
    max-width: 70%;
}

.toggle-holder {
    display: none;
    right: 10px;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#toggle:hover {
    cursor: pointer;
}

#toggle div {
    height: 5px;
    margin-bottom: 6px;
    background-color: #fff;
    width: 22px;
}

#toggle .second-menu-line {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;    
    -webkit-transform: translate3d(10px,0,0);
    transform: translate3d(10px,0,0);
}

#toggle:hover .second-menu-line {
    -webkit-transform: translate3d(0,0,0) ;
    transform: translate3d(0,0,0) ;
}

#toggle.on .second-menu-line {
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
}

#toggle .third-menu-line{        
    margin-bottom: 5px;
}

#header-main-menu {
    display: inline-block;
}

.sm-clean .has-submenu {
    padding-right: 35px !important;
}

.sm-clean li a.menu-item-link {
    cursor: pointer;
    color: #ffffff;
}

.sm-clean a span.sub-arrow {
    right: 3px;
}

.sm-clean a.highlighted {
    padding: 15px;
}

.sm-clean a, 
.sm-clean a:hover, 
.sm-clean a:focus, 
.sm-clean a:active {
    font-size: 16px;
    font-weight: 500;
    transition: color .3s ease, 
        background-color .3s ease;
    padding: 15px;
    letter-spacing: 1px;
    color: #fff;
}

.sm-clean ul a, 
.sm-clean ul a:hover, 
.sm-clean ul a:focus, 
.sm-clean ul a:active {    
    font-size: 13px;
    line-height: 15px;
    padding: 10px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.sm-clean {
    background-color: transparent;        
    padding: 15px 0;
}

body .sm-clean a:hover, 
body .main-menu.sm-clean .sub-menu li a:hover, 
body .sm-clean li.active a, 
body .sm-clean li.current-page-ancestor > a, 
body .sm-clean li.current_page_ancestor > a, 
body .sm-clean li.current_page_item > a {
    color: #0ef;
}

.sm-clean li {
    margin-right: 10px;
}

.sm-clean li:last-child {
    margin-right: 0;
}

.sm-clean ul {    
    background-color: #000;
}

.sm-clean a.has-submenu {
    padding-right: 24px;
}

.sub-menu a, 
.children a {
    padding-left: 15px !important;
}

.sub-menu .sub-menu, 
.children .children {
    padding-top: 8px;
}

.sub-menu .sub-menu a, 
.children .children a, 
.sub-menu .sub-menu a:hover, 
.children .children a:hover {
    padding-top: 10px !important;
}

@media (min-width: 925px) {

    .sm-clean ul a span.sub-arrow {
        margin-top: 0;
    }
    .sm-clean ul {
        padding: 8px 0;
    }
}

@media (max-width: 925px) {

    .sm-clean ul {
        background-color: #fff;
    }

}




/* ===================================
    3 General Section CSS
====================================== */

.section {
    position: relative;    
}


.medium-text {
    color: #000;
    font-size: 60px;
    line-height: 120%;
    font-weight: 700;
    padding-bottom: 35px;
}

.title-description-up {
    font-size: 20px;
    margin-bottom: 0;
    letter-spacing: 2px;
}


/* ===================================
    4 Columns CSS
====================================== */

.one_half,  
.one_third,  
.two_third,  
.three_fourth, 
.one_fourth {
    margin-right: 8%;
    float: left;
    position: relative;
    margin-bottom: 30px;
}

.last {
    margin-right: 0 !important;
    clear: right;
}

.one {    
    display: block;
    clear: both;    
    margin-bottom: 30px;
}

.one_half {
    width: 46%;
}

.one_third {
    width: 28%;
}

.two_third {
    width: 64%;
}

.one_fourth {
    width: 19%;
}

.three_fourth {
    width: 73%;
}

.one_half.margin-0 {
    width: 50%;
}

.one_third.margin-0 {
    width: calc(100% / 3);
}

.two_third.margin-0 {
    width: calc(100% / 3 * 2);
}

.one_fourth.margin-0 {
    width: 25%;
}

.three_fourth.margin-0 {
    width: 75%;
}


/* ===================================
    5 Button CSS
====================================== */

body a.button {
    display: inline-block;
    color: #fff;
    background-color: rgb(86, 0, 148);
    text-align: left;
    padding: 10px 40px;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    
    margin-bottom: 17px;
    border: 2px solid rgb(122, 0, 209);
    border-radius: 50px;
    font-size: 14px;
    letter-spacing: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgb(86, 0, 148),
        0 0 15px rgb(86, 0, 148)

}

a.button:hover {
    background-color: rgb(149, 0, 255);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(149, 0, 255),
        0 0 25px rgb(149, 0, 255),0 0 25px rgb(149, 0, 255)
}


/* ===================================
    6 Home Section CSS
====================================== */

#home {    
    
    background-image: url('images/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(120vh - 77px);    
    display: flex;
    opacity:1;
}

#home .section-wrapper {
    margin: auto;
    padding: 30px 20px ;
    border: 2px solid black;
    background-color: black;
    border-radius: 20px;
    opacity:0.9;
}


h1.big-text {
    text-align: center  ;
    color: #fff;
    font-size: 80px;
    line-height: 100%;
    margin-bottom: 20px;
}
h6.test{
    
    text-align: center;
}



/* ===================================
    7 Services Section CSS
====================================== */

#services {
   
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
}

.service-holder {
    margin: -20px 25px ;
    
    
}

.service-holder:after {
    content: "";
    display: block;
    clear: both;    
}

.service-txt h4 {
    font-size: 46px;
    color: #fff;
    font-weight: 700;
    line-height: 110%;
}

.service-num {
    font-size: 264px;
    font-weight: 700;
    color: #000000;
    text-shadow: -1px 0 #b3b3b3, 
        0 1px #b3b3b3, 
        1px 0 #b3b3b3, 
        0 -1px #b3b3b3;
    line-height: 100%;
    height: 165px;
    overflow: hidden;
    margin-bottom: -10px;
    -webkit-transform: translateZ(0);
}







/* ===================================
    8 Pricing Section CSS
====================================== */

#pricing {
   
    background-color: #ffffff;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto;
}

.pricing-table {
    padding-bottom: 20px;
    background-color: #ffffff;
    margin-top: 30px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000;
    position: relative;
    text-align: left;
}

.pricing-wrapper {
    padding: 0 15%;
}

.pricing-table-title {
    color: #000;
    font-size: 21px;
    font-weight: 500;
    padding: 40px 0;
    margin-bottom: 25px;
}

.pricing-num {
    font-size: 200px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: -1px 0 #b3b3b3, 
        0 1px #b3b3b3, 
        1px 0 #b3b3b3, 
        0 -1px #b3b3b3;
    line-height: 100%;
    margin-bottom: -10px;
    position: absolute;
    top: -50px;
    right: -9px;
    z-index: 1;
}

.pricing-num:before {
    content: "";
    width: 150px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1;
}

.pricing-table-price {
    font-size: 100px;
    line-height: 120%;
    color: #00039d;
    font-weight: 700;
}

.pricing-table-desc {
    font-size: 16px;
    letter-spacing: 2px;
}

.pricing-table ul {
    padding: 0;
    list-style: none;
    margin-top: 25px;
}

.pricing-table ul li {
    padding: 10px 0;
    color: #000;
}

.pricing-list span.fa {
    color: #070096;
    margin-right: 25px;
}

.pricing-list.included-no, 
.pricing-list.included-no span.fa {
    color: gray;
}

.pricing-list.included-no span.fa:before {
    content: "\f00d";
} 

.pricing-table-content-holder {
    margin-bottom: 40px;
}

.pricing-button {
    text-align: center;
}




/* ===================================
    9 Contact Section CSS
====================================== */

.contact-form {
    max-width: 100%;
    margin: 0 auto;
    font-size: 22px;
    color: #000;
}

.contact-form p {
    margin-bottom: 0 !important;
}

.contact-form input[type=text], 
.contact-form input[type=email], 
.contact-form textarea {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    border: 0;
    font-size: 15px;
    padding: 5px 0;
    width: 100%;
    line-height: 25px;
    color: #000;
    margin-bottom: 35px;
    text-indent: 10px;
    background-color: transparent;
    border-bottom: 3px solid;
}

.contact-form textarea {
    height: 150px;
}

.contact-form input[type=text]::placeholder, 
.contact-form input[type=email]::placeholder, 
.contact-form textarea::placeholder {
    font-family: 'Rubik', sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    opacity: 1;
}

.contact-form input[type=text]:ms-input-placeholder, 
.contact-form input[type=email]:ms-input-placeholder, 
.contact-form textarea:ms-input-placeholder {
    font-family: 'Rubik', sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;    
}

.contact-form input[type=text]::ms-input-placeholder, 
.contact-form input[type=email]::ms-input-placeholder, 
.contact-form textarea::ms-input-placeholder {
    font-family: 'Rubik', sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
}

.contact-form input[name="your-name"] {
    margin-top: 0;    
}

.contact-submit-holder {
    position: relative;
    margin-bottom: 25px;
}

.contact-form input[type=submit] {
    color: #fff;
    background-color: #6b0095;
    text-align: center;
    padding: 10px 40px;    
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    transition: all .2s linear;
    margin-bottom: 17px;
    display: block;
    width: 100%;
    line-height: 35px;
    border: 2px solid #6b0095;
    border-radius: 50px;
    font-size: 14px;
    letter-spacing: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #6b0095,
        0 0 15px #6b0095
}

.contact-form input[type=submit]:hover {
    box-shadow: 0 0 5px #6b0095,
        0 0 50px #6b0095
}


/* ===================================
    10 Footer CSS
====================================== */

footer a {
    color: #fff;
}


.footer {
    font-size: 16px;
    line-height: 36px;
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
    color: #fff;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    background-color: #000000;
}



.footer-logo img {
    width: 88px;
    height: 80px;
    margin-bottom: 30px;
}

#proof{
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    
}

