@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #6d03bf;
}
.wrapper{
  width: 330px;
  padding: 2rem 0 1rem 0;
  margin: 50px auto;
  background: #000000;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.wrapper img{
    max-width: 50%;
}

p{
  margin-bottom: 1.7rem;
  color: white;
  font-size: 25px;
}
form input{
  width: 85%;
  outline: none;
  border: none;
  background: #c7e0ff;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.recover{
  text-align: right;
  font-size: 0.8rem;
  margin: 0.2rem 1.7rem 0 0;
}
.recover a{
  text-decoration: none;
  color: #ffffff;
}
button{
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 85%;
  background: rgb(0, 229, 255);
  color: #fff;
  cursor: pointer;
}
button:hover{
  background: rgb(0, 229, 255);
  box-shadow: 0 0 25px rgba(0, 200, 255, 0.767);
}
.or{
  font-size: 0.8rem;
  margin-top: 1.5rem;
}
.icons i{
  color: #07001f;
  padding: 00.8rem 1.5rem;
  border-radius: 10px;
  margin-left: .9rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
}
.icons i:hover{
  color: #000000 !important;
  background: #ffffff;
  transition: 1s;
}
.icons i:first-child{
  color: rgb(255, 255, 0);
}
.icons i:last-child{
  color: rgb(86, 100, 255);
}
.not-member{
  font-size: 0.8rem;
  margin-top: 0.2rem;
  color: rgb(255, 255, 255);
}
.not-member a{
  color: rgb(255, 38, 0);
  text-decoration: none;
  font-size: 15px;
}
a:hover{
  text-decoration: underline;
}
